@media only screen and (min-width: 788px) and (max-width: 979px) {
  /* Qualidade Home */
  .qualidade::after {
    right: 66px;
  }

  .qualidade_lista li {
    padding: 10px;
  }

  /* Footer */
  .footer_redes ul li a {
    padding: 6px;
  }
  
  .footer_redes ul li a img {
    width: 26px;
    height: 26px;
  }
  
}

@media only screen and (max-width: 787px) {
  /* Header */
  .header {
    position: relative;
    padding-bottom: 20px;
  }

  .header img {
    margin: 0 auto 10px auto;
  }

  .header_menu {
    text-align: center;
  }
  
  .header_menu ul li {
    margin: 5px;
  }

  .header_menu ul li a {
    border: 4px solid #000;
    width: 136px;
    display: block;
    float: left;
    transition: all .3s;
  }
 
  .header_menu ul li a:hover {
    border-color: #fff;
  }

  /* Intro */
  .intro {
    margin-top: 0px;
    background: url(../img/bg-mobile.jpg) no-repeat center;
    background-size: cover;
  }
  
  .intro h1 {
    font-size: 36px;
  }

  /* Call to Action */
  .cta {
    padding-top: 10px;
  }

   /* Qualidade Home */
  .qualidade::after {
    display: none;
  }

}
